body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

/* Header */

header{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    margin:0;
    font-size:40px;
}

header p{
    font-size:20px;
}

/* Sections */

section{
    background:white;
    width:80%;
    margin:30px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px lightgray;
}

h2{
    color:#1e3a8a;
}

/* Image */

img{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    object-position:center top;
    display:block;
    margin:20px auto;
    border:5px solid #1e3a8a;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* Skills */

ul{
    list-style-type:square;
}

/* Resume Button */

a{
    background:#1e3a8a;
    color:white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
}

a:hover{
    background:#2563eb;
}

/* Footer */

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}